<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8"/>
	<title>WeatherMonitor</title>
	<div th:replace="header :: header-css"/>
	<link rel="stylesheet" th:href="@{/css/home.css}"/>
	<style>
		.weather-pagination {
			display: inline-flex;
			padding-left: 14px;
		}

	</style>
</head>
<body>
<div th:replace="header :: header"/>
<div class="container-fluid">
	<div class="home-card mx-auto d-flex flex-column justify-items-center rounded">
		<h1>Hello <span sec:authentication="name"></span>!</h1>
		<p>Welcome to <span th:text="${appName}">Our App</span></p>

		<section sec:authorize="hasAuthority('USER')" class="container-fluid">
			<fieldset class="my-5">
				<div class="row">
					<div class="form-group pl-0 my-4 col-lg-6">
						<h2 class="mb-5">Where should I check the weather?</h2>
						<input class="weather-input mt`-5" type="text" name="city" id="city"
						       accept-charset="UTF-8" placeholder="city" required="true"/>
					</div>
					<div id="weather-result"
					     class="col-lg-6 d-flex p-4 flex-column weather-result rounded">
						<h1><span id="result-city"></span>, <span id="result-temp"></span>°C</h1>
						<h5>min <span id="result-temp-min"></span>°C</h5>
						<h5>max <span id="result-temp-max"></span>°C</h5>
						<h4><span id="result-main"></span>, <span id="result-description"></span></h4>
					</div>
				</div>
			</fieldset>
			<div class="row">
				<div class="col-lg-6">
					<input type="submit" class="btn btn-lg weather-button" value="Check weather"
					       onclick="checkWeather()"/>
				</div>
			</div>
			<hr class="mt-5 mb-2"/>
		</section>
		<!--ADMIN-->
		<section sec:authorize="hasAuthority('ADMIN')">
			<h3>Hello admin!</h3>
			<form th:action="@{/}" method="get" class="mx-5">
				<div class="my-1">
					<label> Search for :</label>
					<input class="weather-input rounded" name="username" id="username"/>
				</div>
				<div>
					<button type="submit" id="submit" class="btn btn-default weather-button rounded mt-3 mb-5">Search by username</button>
				</div>
			</form>
			<table class="admin-table w-100">
				<tr>
					<th>ID</th>
					<th>User</th>
					<th>Delete user</th>
				</tr>
				<tr th:each="user : ${userPage.content}">
					<td id="userId" th:text="${user.id}"></td>
					<td th:text="${user.username}">User</td>
					<td>
						<form th:method="DELETE" th:action="${'/users/delete/' + user.id}">
							<button type="submit" class="btn btn-default weather-button">Delete</button>
						</form>
					</td>
				<tr class="weather-history rounded p-3" th:each="weather : ${user.weathers}">
					<td class="pl-4" th:text="${weather.dateCreated}"></td>
					<td th:text="${weather.city}"></td>
					<td th:text="${weather.main}"></td>
					<td th:text="${weather.description}"></td>
					<td th:text="${weather.temp}"></td>
				</tr>
				</tr>
			</table>
			<span>Pages: </span>
			<div th:if="${userPage.totalPages > 0}" class="weather-pagination"
			     th:each="pageNumber : ${pageNumbers}">
				<a th:href="@{/home(size=${userPage.size}, page=${pageNumber})}"
				   th:text="${pageNumber}"
				   th:class="${pageNumber==userPage.number + 1} ? active"></a>
			</div>
		</section>
	</div>
</div>
</body>
<script type="text/javascript">
    function checkWeather() {
        var xmlhttp = new XMLHttpRequest();

        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState === XMLHttpRequest.DONE) {   // XMLHttpRequest.DONE == 4
                if (xmlhttp.status === 200) {
                    var result = JSON.parse(xmlhttp.responseText);
                    document.getElementById("result-city").innerHTML = result.city;
                    document.getElementById("result-main").innerHTML = result.main;
                    document.getElementById("result-description").innerHTML = result.description;
                    document.getElementById("result-temp").innerHTML = result.temp;
                    document.getElementById("result-temp-min").innerHTML = result.tempMin;
                    document.getElementById("result-temp-max").innerHTML = result.tempMax;
                    document.getElementById("weather-result").style.opacity = "1";
                } else if (xmlhttp.status === 400) {
                    alert('There was an error 400');
                } else {
                    alert('Invalid city!');
                }
            }
        };
        xmlhttp.open("POST", "/users/me/weather/current?city=" + document.getElementById("city").value, true);
        xmlhttp.send();
    }
</script>
</html>